Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is an open source NoSQL database management program. NoSQL (Not only SQL) is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information.

MongoDB is used for high-volume data storage, helping organizations store large amounts of data while still performing rapidly. Organizations also use MongoDB for its ad-hoc queries, indexing, load balancing, aggregation, server-side JavaScript execution and other features.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

Here are some situations where NoSQL might make the most sense to you: You need high performance, particularly read performance: The way distributed NoSQL systems like Cassandra and Riak work means you can usually get very high read performance by adding more boxes.

Q2. State and Explain the features of MongoDB.

1. Document Oriented
MongoDB stores all the data in the form of documents instead of tables like in RDBMS. In these documents, the data is stored in key-value pairs instead of rows and columns which make the data much more flexible in comparison to RDBMS where each document contains a unique ID.

2. Schema-less Database
Schema-less database is a great feature provided by MongoDB which means one collection can hold different types of documents in it. In the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not required that a document is similar to another document as it is in the case of relational databases. Due to this amazing feature, MongoDB provides great flexibility to databases.

3. Scalability
MongoDB provides horizontal scalability with the help of a mechanism known as sharding. Sharding refers to the process of distributing data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It can also add new machines to a running database.

4. Indexing
MongoDB database indexes every field in the documents with primary and secondary indices which makes it easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then the database searches each document with the specified query which takes lots of time and is not so efficient.

5. Aggregation
MongoDB also allows to perform operations on the grouped data and get a single result or computed result. It provides three different aggregations, namely, aggregation pipeline, map-reduce function, and single-purpose aggregation methods.

6. High Performance
Due to its features like scalability, indexing, replication, etc., the performance of MongoDB becomes very high as also data persistence, as compared to any other databases.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\dell\anaconda3\lib\site-packages (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://tushar_singh:tushar_singh@cluster0.idykene.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
db

Database(MongoClient(host=['ac-loxikqz-shard-00-01.idykene.mongodb.net:27017', 'ac-loxikqz-shard-00-02.idykene.mongodb.net:27017', 'ac-loxikqz-shard-00-00.idykene.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-jqzdv6-shard-0', ssl=True, retrywrites=True, w='majority'), 'test')

In [4]:
client = pymongo.MongoClient("mongodb+srv://tushar_singh:tushar_singh@cluster0.idykene.mongodb.net/?retryWrites=true&w=majority")

In [5]:
db = client['tushar']

In [6]:
data = {"name" : "tushar" , 
        "class" :"data science masters " ,
        "time" : "NA"}

In [7]:
data

{'name': 'tushar', 'class': 'data science masters ', 'time': 'NA'}

In [8]:
coll_database = db["my_record"]

In [ ]:
coll_database.insert_one(data)

In [10]:
# by the above code we have created a collection of name:coll_database

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
data2 = {"name":"HIMANSHU",
         "age":21,
         "gender":"M"   
}

In [12]:
data2

{'name': 'HIMANSHU', 'age': 21, 'gender': 'M'}

In [ ]:
coll_database.insert_many(data2)

In [15]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [16]:
data3

{'name': 'notebook',
 'qty': 50,
 'rating': [{'score': 8}, {'score': 9}],
 'size': {'height': 11, 'width': 8.5, 'unit': 'in'},
 'status': 'A',
 'tags': ['college-ruled', 'perforated']}

In [ ]:
coll_database.insert_one(data3)

In [18]:
coll_database.find()

In [ ]:
coll_database.find_one(data2)

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one.

In [22]:
coll_database.find()

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
MongoDB can find the result of the sort operation using indexes.
If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.

In [ ]:
db.coll_database.sort({"status":1})

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

collection.delete_many(filter, collation=None, hint=None, session=None)

To delete one document, we use the delete_one() method.
The first parameter of the delete_one() method is a query object defining which document to delete.

In [ ]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

The drop() method removes the specified row or column.
By specifying the column axis (axis='columns'), the drop() method removes the specified column.
By specifying the row axis (axis='index'), the drop() method removes the specified row.

In [ ]:
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

newdf = df.drop("age", axis='columns')

print(newdf)